@import Variables.sass

@tailwind base
@tailwind components
@tailwind utilities

body
  background-color: $color-white

@media screen and (max-width: $screen-md-768px)

  body
    width: 88%
    margin: 0 auto
